﻿<!DOCTYPE html>
<html lang="en">
<head>

    @Html.Partial("PageHead")

    @RenderSection("headScripts", required: false)

</head>

<body class="nav-md">

    @RenderSection("topScripts", required: false)

    <div class="container body">
    <div class="main_container">

            <div class="col-md-3 left_col">
        
                @Html.Partial("LeftNavigation")

            </div>
            
            @Html.Partial("TopNavigation")
            
            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()
                
            </div>
            <!-- /page content -->
            

            @Html.Partial("PageFooter")
            
        </div>
    </div>

    @Html.Partial("BottomScripts")

    @RenderSection("bottomScripts", required: false)

</body>
</html>